openapi: 3.0.0
info:
  contact:
    x-twitter: TomTom
  description: "The Maps API web services suite offers the following APIs:\n  - Raster\n  The Maps Raster API renders map data that is divided into gridded sections called tiles. Tiles are square images (png or jpg format) in various sizes which are available at 19 different zoom levels, ranging from 0 to 20. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 20, the world is divided into 2<sup>40</sup> tiles.\n  - Vector\n  Similar to Maps Raster API, the Maps Vector API serves data on different zoom level ranging from 0 to 22. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 22, the world is divided into 2<sup>44</sup> tiles.\n  The Maps Vector Service delivers geographic map data packaged in a vector representation of squared sections called vector tiles. Each tile includes pre-defined collections of map features (points, lines, road shapes, water polygons, building footprints, ect.) delivered in one of the specified vector formats. Format of the tile is formally described using protobuf schema."
  title: Maps Additional Data Copyrights API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/TomTom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://developer.tomtom.com/system/files/swagger_models/maps_api_0.yaml
    version: '3.0'
  x-providerName: tomtom.com
  x-serviceName: maps
servers:
- url: https://api.tomtom.com
security:
- api_key: []
tags:
- name: Copyrights
paths:
  /map/{versionNumber}/copyrights.{format}:
    get:
      description: 'The Copyrights API returns copyright information for

        the Maps API Raster Tile Service in JSON, JSONP, or XML format.

        This call returns copyright information for the whole world.'
      parameters:
      - description: Version of the service to call. The current version is 1
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
      - description: Format of the response
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - json
          - jsonp
          - xml
          type: string
      - description: Specifies the jsonp callback method. Only used when format is jsonp
        in: query
        name: callback
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>OK</b>
        '304':
          description: <b>Not Modified</b>
        '400':
          description: "<b>Malformed request</b>: malformed syntax. Possible causes include:\n  - requested syntax is not available"
        '403':
          description: '<b>Forbidden</b>: Supplied API key is not valid for this request'
        '410':
          description: '<b>Gone</b>: Request for unsupported format'
        '500':
          description: '<b>Internal Server Error</b>: There is a problem with the TomTom Copyrights

            API service'
      summary: Copyrights Whole World
      tags:
      - Copyrights
  /map/{versionNumber}/copyrights/caption.{format}:
    get:
      description: This API returns copyright captions for the map service.
      parameters:
      - description: Version of the service to call. The current version is 1.
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
      - description: Format of the response
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - json
          - jsonp
          - xml
          type: string
      - description: Specifies the jsonp callback method. Only used when format is jsonp
        in: query
        name: callback
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>OK</b>
        '304':
          description: <b>Not Modified</b>
        '400':
          description: "<b>Malformed request</b>: malformed syntax. Possible causes include:\n  - requested syntax is not available"
        '403':
          description: '<b>Forbidden</b>: Supplied API key is not valid for this request'
        '410':
          description: '<b>Gone</b>: Request for unsupported format'
        '500':
          description: '<b>Internal Server Error</b>: There is a problem with the TomTom Copyrights

            API service'
      summary: Captions
      tags:
      - Copyrights
  /map/{versionNumber}/copyrights/{minLon}/{minLat}/{maxLon}/{maxLat}.{format}:
    get:
      description: 'The Copyrights API returns copyright information for

        the Maps API Raster Tile Service in JSON, JSONP, or XML format.

        This call returns copyright information for a specific bounding box.'
      parameters:
      - description: Version of the service to call. The current version is 1
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
      - description: Format of the response
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - json
          - jsonp
          - xml
          type: string
      - description: Minimum longitude coordinate of bounding box defined in terms of latitude/longitude.
        example: -179.1506
        in: path
        name: minLon
        required: true
        schema:
          type: number
      - description: Minimum latitude coordinate of bounding box defined in terms of latitude/longitude.
        example: 18.9117
        in: path
        name: minLat
        required: true
        schema:
          type: number
      - description: Maximum longitude coordinate of bounding box defined in terms of latitude/longitude.
        example: -66.9406
        in: path
        name: maxLon
        required: true
        schema:
          type: number
      - description: Maximum latitude coordinate of bounding box defined in terms of latitude/longitude.
        example: 71.441
        in: path
        name: maxLat
        required: true
        schema:
          type: number
      - description: Specifies the jsonp callback method. Only used when format is jsonp.
        in: query
        name: callback
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>OK</b>
        '304':
          description: <b>Not Modified</b>
        '400':
          description: "<b>Malformed request</b>: malformed syntax. Possible causes include:\n  - requested syntax is not available"
        '401':
          description: "<b>Bad request</b>: Parameters out of range. Possible causes include:\n  - minLon n is out of range [-180,180]: the requested minimum longitude coordinate is out of possible range\n  - minLat n is out of range [-90,90]: the requested minimum latitude coordinate is out of possible range\n  - maxLon n is out of range [-180,180]: the requested maximum longitude coordinate is out of possible range\n  - maxLat n is out of range [-90,90]: the requested minimum latitude coordinate is out of possible range"
        '403':
          description: '<b>Forbidden</b>: Supplied API key is not valid for this request'
        '410':
          description: '<b>Gone</b>: Request for unsupported format'
        '500':
          description: '<b>Internal Server Error</b>: There is a problem with the TomTom Copyrights

            API service'
      summary: Copyrights Bounding Box
      tags:
      - Copyrights
  /map/{versionNumber}/copyrights/{zoom}/{X}/{Y}.{format}:
    get:
      description: 'The Copyrights API returns copyright information for

        the Maps API Raster Tile Service in JSON, JSONP, or XML format.

        This call returns copyright information for the a specific map tile.'
      parameters:
      - description: Version of the service to call. The current version is 1
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
      - description: Format of the response
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - json
          - jsonp
          - xml
          type: string
      - description: 'Zoom level of tile to be rendered. Only used for tile-level

          copyright calls.'
        example: 0
        in: path
        name: zoom
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          type: integer
      - description: 'X coordinate of the tile on zoom grid. Only used for tile-level

          copyright calls.'
        example: 0
        in: path
        name: X
        required: true
        schema:
          type: integer
      - description: 'Y coordinate of the tile on zoom grid. Only used for tile-level

          copyright calls.'
        example: 0
        in: path
        name: Y
        required: true
        schema:
          type: integer
      - description: Specifies the jsonp callback method. Only used when format is jsonp.
        in: query
        name: callback
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>OK</b>
        '304':
          description: <b>Not Modified</b>
        '400':
          description: "<b>Malformed request</b>: malformed syntax. Possible causes include:\n  - requested syntax is not available"
        '401':
          description: "<b>Bad request</b>: Parameters out of range. Possible causes include:\n  - zoom n is out of range 0 <= zoom < 19: the requested zoom level is out of the possible range\n  - x n is out of range [0,m]: the requested x coordinate is out of the possible range (the value of m will vary depending on zoom level)\n  - y n is out of range [0,m]: the requested y coordinate is out of the possible range (the value of m will vary depending on zoom level)"
        '403':
          description: '<b>Forbidden</b>: Supplied API key is not valid for this request'
        '410':
          description: '<b>Gone</b>: Request for unsupported format'
        '500':
          description: '<b>Internal Server Error</b>: There is a problem with the TomTom Copyrights

            API service'
      summary: Copyrights Tile
      tags:
      - Copyrights
components:
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
