openapi: 3.0.0
info:
  contact:
    x-twitter: TomTom
  description: "The Maps API web services suite offers the following APIs:\n  - Raster\n  The Maps Raster API renders map data that is divided into gridded sections called tiles. Tiles are square images (png or jpg format) in various sizes which are available at 19 different zoom levels, ranging from 0 to 20. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 20, the world is divided into 2<sup>40</sup> tiles.\n  - Vector\n  Similar to Maps Raster API, the Maps Vector API serves data on different zoom level ranging from 0 to 22. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 22, the world is divided into 2<sup>44</sup> tiles.\n  The Maps Vector Service delivers geographic map data packaged in a vector representation of squared sections called vector tiles. Each tile includes pre-defined collections of map features (points, lines, road shapes, water polygons, building footprints, ect.) delivered in one of the specified vector formats. Format of the tile is formally described using protobuf schema."
  title: Maps Additional Data API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/TomTom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://developer.tomtom.com/system/files/swagger_models/maps_api_0.yaml
    version: '3.0'
  x-providerName: tomtom.com
  x-serviceName: maps
servers:
- url: https://api.tomtom.com
security:
- api_key: []
tags:
- name: Additional Data
paths:
  /search/{versionNumber}/additionalData.{ext}:
    get:
      parameters:
      - $ref: '#/components/parameters/versionNumber'
      - description: Expected response format.
        in: path
        name: ext
        required: true
        schema:
          enum:
          - json
          type: string
      - description: Comma separated list of geometry UUIDs, previously retrieved from an Search API request.
        example: 00004631-3400-3c00-0000-0000673c4d2e,00004631-3400-3c00-0000-0000673c42fe
        in: query
        name: geometries
        required: true
        schema:
          type: string
      - description: Defines the precision of the geometries.
        in: query
        name: geometriesZoom
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          type: integer
      responses:
        '200':
          description: 'OK: additional data were retrieved and the body of the response contains requested data.'
        '400':
          description: 'Bad request: one or more parameters(i.e. geometries, ext) were incorrectly specified.'
        '403':
          description: "Permission, capacity, or authentication issues:\n  - Forbidden\n  - Not authorized\n  - Account inactive\n  - Account over queries per second limit\n  - Account over rate limit\n  - Rate limit exceeded"
        '404':
          description: 'Not Found: the requested resource could not be found, but it may be available again in the future.'
        '405':
          description: 'Method Not Allowed: the client used a HTTP method other than GET.'
        '408':
          description: Request timeout.
        '414':
          description: Requested uri is too long.
        '500':
          description: An error occurred while processing the request. Please try again later.
        '502':
          description: Internal network connectivity issue.
        '503':
          description: Service currently unavailable.
        '504':
          description: Internal network connectivity issue or a request that has taken too long to complete.
        '596':
          description: Service not found.
      summary: Additional Data
      tags:
      - Additional Data
components:
  parameters:
    versionNumber:
      description: Service version number. The current value is 2.
      in: path
      name: versionNumber
      required: true
      schema:
        enum:
        - 2
        type: integer
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
