openapi: 3.0.0
info:
  contact:
    x-twitter: TomTom
  description: "The Maps API web services suite offers the following APIs:\n  - Raster\n  The Maps Raster API renders map data that is divided into gridded sections called tiles. Tiles are square images (png or jpg format) in various sizes which are available at 19 different zoom levels, ranging from 0 to 20. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 20, the world is divided into 2<sup>40</sup> tiles.\n  - Vector\n  Similar to Maps Raster API, the Maps Vector API serves data on different zoom level ranging from 0 to 22. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 22, the world is divided into 2<sup>44</sup> tiles.\n  The Maps Vector Service delivers geographic map data packaged in a vector representation of squared sections called vector tiles. Each tile includes pre-defined collections of map features (points, lines, road shapes, water polygons, building footprints, ect.) delivered in one of the specified vector formats. Format of the tile is formally described using protobuf schema."
  title: Maps Additional Data Traffic Flow API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/TomTom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://developer.tomtom.com/system/files/swagger_models/maps_api_0.yaml
    version: '3.0'
  x-providerName: tomtom.com
  x-serviceName: maps
servers:
- url: https://api.tomtom.com
security:
- api_key: []
tags:
- name: Traffic Flow
  description: Real-time traffic speed and flow data
paths:
  /traffic/services/{versionNumber}/flowSegmentData/{style}/{zoom}/json:
    get:
      operationId: getFlowSegmentData
      summary: Get Flow Segment Data
      description: Returns real-time traffic flow information for the road segment closest to the specified coordinates. Includes current speed, freeflow speed, and travel time confidence.
      tags:
      - Traffic Flow
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 4
      - name: style
        in: path
        required: true
        schema:
          type: string
          enum:
          - absolute
          - relative
          - relative-delay
          - reduced-sensitivity
        description: Traffic flow visualization style
      - name: zoom
        in: path
        required: true
        schema:
          type: integer
          minimum: 0
          maximum: 22
      - name: point
        in: query
        required: true
        schema:
          type: string
        description: Coordinates to query (lat,lon)
        example: 52.41072,4.84239
      - name: unit
        in: query
        schema:
          type: string
          enum:
          - KMPH
          - MPH
        description: Speed unit
      - name: thickness
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 20
        description: Segment thickness for display
      - name: openLr
        in: query
        schema:
          type: boolean
        description: Include OpenLR encoded location reference
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Traffic flow segment data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowSegmentResponse'
components:
  schemas:
    FlowSegmentResponse:
      type: object
      properties:
        flowSegmentData:
          type: object
          properties:
            frc:
              type: string
              description: Functional road class
            currentSpeed:
              type: integer
              description: Current speed in requested unit
            freeFlowSpeed:
              type: integer
              description: Free flow speed in requested unit
            currentTravelTime:
              type: integer
              description: Current travel time in seconds
            freeFlowTravelTime:
              type: integer
              description: Free flow travel time in seconds
            confidence:
              type: number
              description: Confidence in data accuracy (0-1)
            roadClosure:
              type: boolean
            coordinates:
              type: object
              properties:
                coordinate:
                  type: array
                  items:
                    type: object
                    properties:
                      latitude:
                        type: number
                      longitude:
                        type: number
            openLr:
              type: string
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
