openapi: 3.2.0
info:
  contact:
    name: Contact Us
    url: https://developer.tomtom.com/contact-us
    x-twitter: TomTom
  description: Search API is a RESTful API that allows developers to run a single line fuzzy search for addresses and POIs. Search API returns the latitude/longitude of a specific address, cross street, geographic feature, or point of interest (POI).
  title: Search Additional Data API
  version: 1.0.0
servers:
- url: https://api.tomtom.com
security:
- api_key: []
tags:
- name: Additional Data
paths:
  /search/{versionNumber}/additionalData.{ext}:
    get:
      parameters:
      - $ref: '#/components/parameters/versionNumber'
      - description: Expected response format.
        in: path
        name: ext
        required: true
        schema:
          enum:
          - json
          type: string
      - description: Comma separated list of geometry UUIDs, previously retrieved from an Search API request.
        example: 00004631-3400-3c00-0000-0000673c4d2e,00004631-3400-3c00-0000-0000673c42fe
        in: query
        name: geometries
        required: true
        schema:
          type: string
      - description: Defines the precision of the geometries.
        in: query
        name: geometriesZoom
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          type: integer
      responses:
        '200':
          description: 'OK: additional data were retrieved and the body of the response contains requested data.'
        '400':
          description: 'Bad request: one or more parameters(i.e. geometries, ext) were incorrectly specified.'
        '403':
          description: "Permission, capacity, or authentication issues:\n  - Forbidden\n  - Not authorized\n  - Account inactive\n  - Account over queries per second limit\n  - Account over rate limit\n  - Rate limit exceeded"
        '404':
          description: 'Not Found: the requested resource could not be found, but it may be available again in the future.'
        '405':
          description: 'Method Not Allowed: the client used a HTTP method other than GET.'
        '408':
          description: Request timeout.
        '414':
          description: Requested uri is too long.
        '500':
          description: An error occurred while processing the request. Please try again later.
        '502':
          description: Internal network connectivity issue.
        '503':
          description: Service currently unavailable.
        '504':
          description: Internal network connectivity issue or a request that has taken too long to complete.
        '596':
          description: Service not found.
      summary: Additional Data
      tags:
      - Additional Data
      operationId: getSearchByVersionNumberAdditionalData{ext}
      x-operation-id-source: derived
components:
  parameters:
    versionNumber:
      description: Service version number. The current value is 2.
      in: path
      name: versionNumber
      required: true
      schema:
        enum:
        - 2
        type: integer
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
