openapi: 3.0.0
info:
  contact:
    x-twitter: TomTom
  description: "The Maps API web services suite offers the following APIs:\n  - Raster\n  The Maps Raster API renders map data that is divided into gridded sections called tiles. Tiles are square images (png or jpg format) in various sizes which are available at 19 different zoom levels, ranging from 0 to 20. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 20, the world is divided into 2<sup>40</sup> tiles.\n  - Vector\n  Similar to Maps Raster API, the Maps Vector API serves data on different zoom level ranging from 0 to 22. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 22, the world is divided into 2<sup>44</sup> tiles.\n  The Maps Vector Service delivers geographic map data packaged in a vector representation of squared sections called vector tiles. Each tile includes pre-defined collections of map features (points, lines, road shapes, water polygons, building footprints, ect.) delivered in one of the specified vector formats. Format of the tile is formally described using protobuf schema."
  title: Maps Additional Data Batch Routing API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/TomTom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://developer.tomtom.com/system/files/swagger_models/maps_api_0.yaml
    version: '3.0'
  x-providerName: tomtom.com
  x-serviceName: maps
servers:
- url: https://api.tomtom.com
security:
- api_key: []
tags:
- name: Batch Routing
  description: Multiple route requests in a single call
paths:
  /routing/{versionNumber}/batch/{contentType}:
    post:
      operationId: submitBatchRouting
      summary: Submit Batch Routing
      description: Submits multiple route calculation requests as a single batch job.
      tags:
      - Batch Routing
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 1
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - batchItems
              properties:
                batchItems:
                  type: array
                  items:
                    type: object
                    properties:
                      query:
                        type: string
      responses:
        '200':
          description: Synchronous batch result (for small batches)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '202':
          description: Batch job accepted for asynchronous processing
          headers:
            Location:
              schema:
                type: string
              description: URL to poll for batch results
components:
  schemas:
    BatchResponse:
      type: object
      properties:
        formatVersion:
          type: string
        batchSummary:
          type: object
          properties:
            successfulRequests:
              type: integer
            totalRequests:
              type: integer
        batchItems:
          type: array
          items:
            type: object
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
