openapi: 3.2.0
info:
  title: TomTom Traffic Traffic Tiles API
  description: The TomTom Traffic API provides real-time traffic data for developer applications. The Traffic Incidents service delivers accurate information about traffic jams, accidents, road closures, and hazards. The Traffic Flow service provides observed speeds and travel times for key roads, updated every minute. Supports raster and vector tile formats for map display.
  version: 5.0.0
  contact:
    name: TomTom Developer Support
    url: https://developer.tomtom.com/
servers:
- url: https://api.tomtom.com
  description: TomTom API Production
security:
- api_key: []
tags:
- name: Traffic Tiles
  description: Raster and vector tiles for map display
paths:
  /traffic/services/{versionNumber}/incidentTile/{style}/{zoom}/{x}/{y}.{format}:
    get:
      operationId: getRasterIncidentTile
      summary: Get Raster Incident Tile
      description: Returns a raster map tile showing traffic incidents.
      tags:
      - Traffic Tiles
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 4
      - name: style
        in: path
        required: true
        schema:
          type: string
          enum:
          - s1
          - s2
          - s3
          - night
      - name: zoom
        in: path
        required: true
        schema:
          type: integer
          minimum: 0
          maximum: 22
      - name: x
        in: path
        required: true
        schema:
          type: integer
      - name: y
        in: path
        required: true
        schema:
          type: integer
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - png
      - name: key
        in: query
        required: true
        schema:
          type: string
      - name: t
        in: query
        schema:
          type: string
        description: Traffic model ID
      responses:
        '200':
          description: PNG raster tile image
          content:
            image/png:
              schema:
                type: string
                format: binary
  /traffic/map/{versionNumber}/tile/flow/{style}/{zoom}/{x}/{y}.{format}:
    get:
      operationId: getRasterFlowTile
      summary: Get Raster Flow Tile
      description: Returns a raster map tile visualizing traffic flow conditions.
      tags:
      - Traffic Tiles
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 4
      - name: style
        in: path
        required: true
        schema:
          type: string
          enum:
          - absolute
          - relative
          - relative-delay
          - reduced-sensitivity
      - name: zoom
        in: path
        required: true
        schema:
          type: integer
          minimum: 0
          maximum: 22
      - name: x
        in: path
        required: true
        schema:
          type: integer
      - name: y
        in: path
        required: true
        schema:
          type: integer
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - png
      - name: key
        in: query
        required: true
        schema:
          type: string
      - name: t
        in: query
        schema:
          type: string
        description: Traffic model ID
      responses:
        '200':
          description: PNG raster tile
          content:
            image/png:
              schema:
                type: string
                format: binary
  /traffic/map/{versionNumber}/tile/flow/{zoom}/{x}/{y}.pbf:
    get:
      operationId: getVectorFlowTile
      summary: Get Vector Flow Tile
      description: Returns a vector Protocol Buffer tile with traffic flow data.
      tags:
      - Traffic Tiles
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 4
      - name: zoom
        in: path
        required: true
        schema:
          type: integer
          minimum: 0
          maximum: 22
      - name: x
        in: path
        required: true
        schema:
          type: integer
      - name: y
        in: path
        required: true
        schema:
          type: integer
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Protocol Buffer vector tile
          content:
            application/vnd.mapbox-vector-tile:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: key
