openapi: 3.0.0
info:
  contact:
    x-twitter: TomTom
  description: "The Maps API web services suite offers the following APIs:\n  - Raster\n  The Maps Raster API renders map data that is divided into gridded sections called tiles. Tiles are square images (png or jpg format) in various sizes which are available at 19 different zoom levels, ranging from 0 to 20. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 20, the world is divided into 2<sup>40</sup> tiles.\n  - Vector\n  Similar to Maps Raster API, the Maps Vector API serves data on different zoom level ranging from 0 to 22. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 22, the world is divided into 2<sup>44</sup> tiles.\n  The Maps Vector Service delivers geographic map data packaged in a vector representation of squared sections called vector tiles. Each tile includes pre-defined collections of map features (points, lines, road shapes, water polygons, building footprints, ect.) delivered in one of the specified vector formats. Format of the tile is formally described using protobuf schema."
  title: Maps Additional Data Vector API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/TomTom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://developer.tomtom.com/system/files/swagger_models/maps_api_0.yaml
    version: '3.0'
  x-providerName: tomtom.com
  x-serviceName: maps
servers:
- url: https://api.tomtom.com
security:
- api_key: []
tags:
- name: Vector
paths:
  /map/{versionNumber}/tile/{layer}/{style}/{zoom}/{X}/{Y}.pbf:
    get:
      description: The Maps API Vector Service delivers vector tiles, which are representations of square sections of map data.
      parameters:
      - description: Version of the service to call. The current version is 1
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
      - description: Layer of tile to be rendered
        example: basic
        in: path
        name: layer
        required: true
        schema:
          enum:
          - basic
          - hybrid
          - labels
          type: string
      - description: Style of tile to be rendered
        example: main
        in: path
        name: style
        required: true
        schema:
          enum:
          - main
          type: string
      - description: Zoom level of tile to be rendered
        example: 0
        in: path
        name: zoom
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          type: integer
      - description: x coordinate of tile on zoom grid
        example: 0
        in: path
        name: X
        required: true
        schema:
          type: integer
      - description: y coordinate of tile on zoom grid
        example: 0
        in: path
        name: Y
        required: true
        schema:
          type: integer
      - description: Geopolitical view. Determines rendering of disputed areas. See the <a href="/maps-api/maps-api-documentation-vector/tile">documentation</a> for an explanation of how this works in live services.
        example: Unified
        in: query
        name: view
        required: false
        schema:
          enum:
          - Unified
          - IL
          - IN
          type: string
      - description: 'Language to be used for labels in the response. The default is NGT: Neutral Ground Truth, which uses each place''s local official language and script (where available). See the <a href="/maps-api/maps-api-documentation-vector/tile">documentation</a> for a full list of options.'
        in: query
        name: language
        schema:
          default: NGT
          type: string
      responses:
        '200':
          description: <b>OK</b>
        '400':
          description: "<b>Bad request</b>: Usually the result of malformed syntax:\n  - the given combination of layer, style, and query parameters is not supported\n  - zoom n is out of range 0 <= zoom <= 22: the requested zoom level is out of the possible range\n  - x n is out of range [0,m]: the requested x coordinate is out of the possible range (the value of m will vary depending on zoom level)\n  - y n is out of range [0,m]: the requested y coordinate is out of the possible range (the value of m will vary depending on zoom level)\n  - the requested view is not supported"
        '403':
          description: "<b>Forbidden</b>: \n  - the supplied API key is not valid for this request\n  - the requested view is not available in your country"
        '500':
          description: '<b>Internal Server Error</b>: There is a problem with the TomTom

            Maps API Vector Tile service'
        '503':
          description: <b>Service currently unavailable</b>.
      summary: Tile
      tags:
      - Vector
components:
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
