openapi: 3.2.0
info:
  title: TomTom Routing Batch Routing API
  description: The TomTom Routing API calculates routes between an origin and destination, supporting up to 150 waypoints, real-time and historical traffic, multiple route types, electric and combustion vehicle optimization, reachable range calculation, and batch routing for multiple route requests.
  version: 1.0.0
  contact:
    name: TomTom Developer Support
    url: https://developer.tomtom.com/
servers:
- url: https://api.tomtom.com
  description: TomTom API Production
security:
- api_key: []
tags:
- name: Batch Routing
  description: Multiple route requests in a single call
paths:
  /routing/{versionNumber}/batch/{contentType}:
    post:
      operationId: submitBatchRouting
      summary: Submit Batch Routing
      description: Submits multiple route calculation requests as a single batch job.
      tags:
      - Batch Routing
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 1
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - batchItems
              properties:
                batchItems:
                  type: array
                  items:
                    type: object
                    properties:
                      query:
                        type: string
      responses:
        '200':
          description: Synchronous batch result (for small batches)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '202':
          description: Batch job accepted for asynchronous processing
          headers:
            Location:
              schema:
                type: string
              description: URL to poll for batch results
components:
  schemas:
    BatchResponse:
      type: object
      properties:
        formatVersion:
          type: string
        batchSummary:
          type: object
          properties:
            successfulRequests:
              type: integer
            totalRequests:
              type: integer
        batchItems:
          type: array
          items:
            type: object
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: key
