openapi: 3.2.0
info:
  title: TomTom Routing Reachable Range API
  description: The TomTom Routing API calculates routes between an origin and destination, supporting up to 150 waypoints, real-time and historical traffic, multiple route types, electric and combustion vehicle optimization, reachable range calculation, and batch routing for multiple route requests.
  version: 1.0.0
  contact:
    name: TomTom Developer Support
    url: https://developer.tomtom.com/
servers:
- url: https://api.tomtom.com
  description: TomTom API Production
security:
- api_key: []
tags:
- name: Reachable Range
  description: Calculate areas reachable within given constraints
paths:
  /routing/{versionNumber}/calculateReachableRange/{origin}/{contentType}:
    get:
      operationId: calculateReachableRange
      summary: Calculate Reachable Range
      description: Calculates the area reachable from a given origin point within specified time, distance, or fuel/energy constraints.
      tags:
      - Reachable Range
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 1
      - name: origin
        in: path
        required: true
        schema:
          type: string
        description: Origin coordinates (lat,lon)
        example: 52.50931,13.42936
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - jsonp
          - xml
      - name: timeBudgetInSec
        in: query
        schema:
          type: number
        description: Maximum travel time in seconds
      - name: distanceBudgetInMeters
        in: query
        schema:
          type: number
        description: Maximum travel distance in meters
      - name: fuelBudgetInLiters
        in: query
        schema:
          type: number
        description: Available fuel in liters
      - name: energyBudgetInkWh
        in: query
        schema:
          type: number
        description: Available energy in kWh for EV routing
      - name: routeType
        in: query
        schema:
          type: string
          enum:
          - fastest
          - shortest
          - eco
      - name: traffic
        in: query
        schema:
          type: boolean
      - name: travelMode
        in: query
        schema:
          type: string
          enum:
          - car
          - truck
          - taxi
          - bus
          - van
          - motorcycle
          - bicycle
          - pedestrian
      - name: departAt
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Reachable range polygon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReachableRangeResponse'
components:
  schemas:
    LatLon:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    ReachableRangeResponse:
      type: object
      properties:
        formatVersion:
          type: string
        reachableRange:
          type: object
          properties:
            center:
              $ref: '#/components/schemas/LatLon'
            boundary:
              type: array
              items:
                $ref: '#/components/schemas/LatLon'
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: key
