openapi: 3.0.0
info:
  contact:
    x-twitter: TomTom
  description: "The Maps API web services suite offers the following APIs:\n  - Raster\n  The Maps Raster API renders map data that is divided into gridded sections called tiles. Tiles are square images (png or jpg format) in various sizes which are available at 19 different zoom levels, ranging from 0 to 20. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 20, the world is divided into 2<sup>40</sup> tiles.\n  - Vector\n  Similar to Maps Raster API, the Maps Vector API serves data on different zoom level ranging from 0 to 22. For zoom level 0, the entire earth is displayed on one single tile, while at zoom level 22, the world is divided into 2<sup>44</sup> tiles.\n  The Maps Vector Service delivers geographic map data packaged in a vector representation of squared sections called vector tiles. Each tile includes pre-defined collections of map features (points, lines, road shapes, water polygons, building footprints, ect.) delivered in one of the specified vector formats. Format of the tile is formally described using protobuf schema."
  title: Maps Additional Data Raster API
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/TomTom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://developer.tomtom.com/system/files/swagger_models/maps_api_0.yaml
    version: '3.0'
  x-providerName: tomtom.com
  x-serviceName: maps
servers:
- url: https://api.tomtom.com
security:
- api_key: []
tags:
- name: Raster
paths:
  /map/{versionNumber}/staticimage:
    get:
      description: 'The Static Image service renders a rectangular raster image

        in the style, size, and zoom level specified. The image can be requested

        using either a center point plus width and height or a bounding box.'
      parameters:
      - description: Version of the service to call. The current version is 1.
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
      - description: 'Layer of image to be rendered. <em>Hybrid</em> and <em>labels</em>

          are intended for layering with other data and are only available in <em>png</em> format.'
        example: basic
        in: query
        name: layer
        required: false
        schema:
          default: basic
          enum:
          - basic
          - hybrid
          - labels
          type: string
      - description: Map style to be returned
        example: main
        in: query
        name: style
        required: false
        schema:
          default: main
          enum:
          - main
          - night
          type: string
      - description: Image format to be returned
        example: png
        in: query
        name: format
        required: false
        schema:
          default: png
          enum:
          - png
          - jpg
          - jpeg
          type: string
      - description: Zoom level of map image to be returned.
        in: query
        name: zoom
        required: false
        schema:
          default: 12
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          type: integer
      - description: 'Coordinates for the center point of the image.

          Must be used with the <strong>width</strong> and

          <strong>height</strong> parameters; cannot be used with <strong>bbox</strong>.

          Uses EPSG:3857 projection (functionally equivalent to EPSG:900910).'
        example: 4.899886, 52.379031
        in: query
        name: center
        required: false
        schema:
          pattern: ^-*\d+\.*\d*, *-*\d+\.*\d*$
          type: string
      - description: Width of the resulting image in pixels. Width must be a positive integer between 1 and 8192.
        example: 512
        in: query
        name: width
        required: false
        schema:
          default: 512
          maximum: 8192
          minimum: 1
          type: integer
      - description: Height of the resulting image in pixels. Height must be a positive integer between 1 and 8192.
        example: 512
        in: query
        name: height
        required: false
        schema:
          default: 512
          maximum: 8192
          minimum: 1
          type: integer
      - description: 'Bounding box for the image, using EPSG:3857 projection (functionally equivalent to EPSG:900910).

          Values <strong>must</strong> be in the order of minLon, minLat, maxLon, maxLat.

          MaxLat must be greater than minLat. Longitude values can be on both sides of the 180th meridian.

          Cannot be used with <strong>center</strong>, <strong>width</strong>, or <strong>height</strong> parameters.'
        in: query
        name: bbox
        required: false
        schema:
          pattern: ^(-*\d+\.*\d*,){3}(-*\d+\.*\d*)$
          type: string
      - description: Geopolitical view. Determines rendering of disputed areas. See the <a href="/maps-api/maps-api-documentation-raster/raster-tile">documentation</a> for an explanation of how this works in live services.
        example: Unified
        in: query
        name: view
        required: false
        schema:
          enum:
          - Unified
          - IN
          type: string
      responses:
        '200':
          description: <b>OK</b>
        '400':
          description: "<b>Bad Request</b>: Received by the interface, but there is an error\nin the request, such as:\n  - one or more of the required parameters is missing\n  - unsupported or unrecognized parameter value\n  - two or more mutually exclusive parameters are used in the same query (e.g. mixing center/width/height and bbox.)\n  - minimum latitude is greater than maximum latitude in a bbox call\n  - layer containing alpha channel is requested in format not supporting the alpha channel\nThis code is returned if the required parameters of the request were\nmalformed. A detailed exception explanation is returned in a\nresponse in form of Service Exception Report."
        '403':
          description: "<b>Forbidden</b>:\n  - supplied API key is not valid for the request\n  - the requested view is not available in the country where the request was sent from"
        '500':
          description: '<b>Internal Server Error</b>: There is a problem with the Static Map

            Service.'
        '503':
          description: <b>Service currently unavailable.</b>
      summary: Static Image
      tags:
      - Raster
  /map/{versionNumber}/tile/{layer}/{style}/{zoom}/{X}/{Y}.{format}:
    get:
      description: The Maps API Raster Service delivers raster tiles, which are representations of square sections of map data.
      parameters:
      - description: Version of the service to call. The current version is 1.
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
      - description: Layer of tile to be rendered. <em>Hybrid</em> and <em>labels</em> are intended for layering with other data and are only available in <em>png</em> format.
        example: basic
        in: path
        name: layer
        required: true
        schema:
          enum:
          - basic
          - hybrid
          - labels
          type: string
      - description: Style of tile to be rendered
        example: main
        in: path
        name: style
        required: true
        schema:
          enum:
          - main
          - night
          type: string
      - description: Zoom level of tile to be rendered
        example: 0
        in: path
        name: zoom
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          type: integer
      - description: x coordinate of tile on zoom grid
        example: 0
        in: path
        name: X
        required: true
        schema:
          type: integer
      - description: y coordinate of tile on zoom grid
        example: 0
        in: path
        name: Y
        required: true
        schema:
          type: integer
      - description: Format of the response.
        example: png
        in: path
        name: format
        required: true
        schema:
          enum:
          - jpg
          - png
          type: string
      - description: Tile dimensions in pixels. <em>512</em> is only available for the <em>main</em> style and <em>basic</em> or <em>labels</em> layers.
        in: query
        name: tileSize
        required: false
        schema:
          default: 256
          enum:
          - 256
          - 512
          type: integer
      - description: Geopolitical view. Determines rendering of disputed areas. See the <a href="/maps-sdk-web/functional-examples#geopolitical-views">documentation</a> for an explanation of how this works in live services.
        example: Unified
        in: query
        name: view
        required: false
        schema:
          enum:
          - Unified
          - IN
          type: string
      responses:
        '200':
          description: <b>OK</b>
        '302':
          description: '<b>Found</b>: URL redirection'
        '400':
          description: "<b>Bad request</b>: Usually the result of malformed syntax:\n  - the given combination of layer, style, and query parameters is not supported\n  - zoom n is out of range 0 <= zoom < 19: the requested zoom level is out of the possible range\n  - x n is out of range [0,m]: the requested x coordinate is out of the possible range (the value of m will vary depending on zoom level)\n  - y n is out of range [0,m]: the requested y coordinate is out of the possible range (the value of m will vary depending on zoom level)\n  - the requested view is not supported"
        '403':
          description: "<b>Forbidden</b>:\n  - the supplied API key is not valid for this request\n  - the requested view is not available in the country where the request was sent from"
        '410':
          description: '<b>Gone</b>: Request for unsupported format'
        '500':
          description: '<b>Internal Server Error</b>: There is a problem with the TomTom

            Maps API Raster Tile service'
      summary: Tile
      tags:
      - Raster
components:
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
