openapi: 3.2.0
info:
  title: TomTom Traffic Traffic Flow API
  description: The TomTom Traffic API provides real-time traffic data for developer applications. The Traffic Incidents service delivers accurate information about traffic jams, accidents, road closures, and hazards. The Traffic Flow service provides observed speeds and travel times for key roads, updated every minute. Supports raster and vector tile formats for map display.
  version: 5.0.0
  contact:
    name: TomTom Developer Support
    url: https://developer.tomtom.com/
servers:
- url: https://api.tomtom.com
  description: TomTom API Production
security:
- api_key: []
tags:
- name: Traffic Flow
  description: Real-time traffic speed and flow data
paths:
  /traffic/services/{versionNumber}/flowSegmentData/{style}/{zoom}/json:
    get:
      operationId: getFlowSegmentData
      summary: Get Flow Segment Data
      description: Returns real-time traffic flow information for the road segment closest to the specified coordinates. Includes current speed, freeflow speed, and travel time confidence.
      tags:
      - Traffic Flow
      parameters:
      - name: versionNumber
        in: path
        required: true
        schema:
          type: integer
          enum:
          - 4
      - name: style
        in: path
        required: true
        schema:
          type: string
          enum:
          - absolute
          - relative
          - relative-delay
          - reduced-sensitivity
        description: Traffic flow visualization style
      - name: zoom
        in: path
        required: true
        schema:
          type: integer
          minimum: 0
          maximum: 22
      - name: point
        in: query
        required: true
        schema:
          type: string
        description: Coordinates to query (lat,lon)
        example: 52.41072,4.84239
      - name: unit
        in: query
        schema:
          type: string
          enum:
          - KMPH
          - MPH
        description: Speed unit
      - name: thickness
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 20
        description: Segment thickness for display
      - name: openLr
        in: query
        schema:
          type: boolean
        description: Include OpenLR encoded location reference
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Traffic flow segment data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowSegmentResponse'
components:
  schemas:
    FlowSegmentResponse:
      type: object
      properties:
        flowSegmentData:
          type: object
          properties:
            frc:
              type: string
              description: Functional road class
            currentSpeed:
              type: integer
              description: Current speed in requested unit
            freeFlowSpeed:
              type: integer
              description: Free flow speed in requested unit
            currentTravelTime:
              type: integer
              description: Current travel time in seconds
            freeFlowTravelTime:
              type: integer
              description: Free flow travel time in seconds
            confidence:
              type: number
              description: Confidence in data accuracy (0-1)
            roadClosure:
              type: boolean
            coordinates:
              type: object
              properties:
                coordinate:
                  type: array
                  items:
                    type: object
                    properties:
                      latitude:
                        type: number
                      longitude:
                        type: number
            openLr:
              type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: key
